<%- include('partials/header') %>

<form action="/dashboard" method="get">
    <button type="submit" >Dashboard</button>
</form>

<hr>
<h1 class="title"> author :<%= name %> </h1>
<hr>

<form action="/newDiaries" method="get">
    <button type="submit" >New Diary</button>
</form>

<div class="container">
    <div class="jumbotron centered">
        <form class="" action="/compose" method="post">
            <label for="title">Select Diary</label>

            <select name="diaryId">
                <%  for(var i=0 ;i < diaries.length ;i++) { %>
                    <option value="<%= diaries[i].diary_id %>"> <%=  diaries[i].diary_name %></option>
                <% } %>
            </select>


            <label for="Cotent" >Write next page here</label>
            <textarea name="content" id="Content" class="form-control" rows="20" cols="40"><%= content %></textarea>
            <br>
            <button type="submit" class="btn btn-lg btn-success" name="button">Write</button>
        </form>
    </div>
</div>
<script>tinymce.init({selector:'textarea'});</script>
<%- include('partials/footer') %>
