<%- include('partials/header') %>
<h1 style="float: left;"class="title"> author :<%=name %> </h1>
<form action="/logout" method="get">
    <button style="float: right;" type="submit" class="btn btn-primary">logout</button>
</form>
<form action="/dashboard" method="get">
    <button style="float: right;" type="submit" class="btn btn-primary">Dashboard</button>
</form>
<form action="/newDiaries" method="get">
    <button style="float: right;" type="submit" class="btn btn-primary">New Diary</button>
</form>
<div class="container">
    <div class="jumbotron centered">
        <form class="" action="/compose" method="post">
            <label for="title">Select Diary</label>

            <select >
                <%  for(var i=0 ;i < diaries.length ;i++) { %>
                    <option value="<%= diaries[i] %>"> <%=  diaries[i] %></option>
                <% } %>
            </select>


            <label for="Cotent" >Write next page here</label>
            <textarea name="content" id="Content" class="form-control" rows="10" cols="80"><%= content %></textarea>
            <br>
            <button type="submit" class="btn btn-lg btn-success" name="button">Write</button>
        </form>
    </div>
</div>
\
<%- include('partials/footer') %>
