<%- include('partials/header'); -%>


<div class = "left-body">
    <div class="left-navbar">
        <a href="/dashboard" class="btn btn-primary left-navbar-button" role="button" aria-pressed="true">Home</a>
        <a href="/explore" class="btn btn-primary left-navbar-button" role="button" aria-pressed="true">Explore</a>
        <a href="/massages" class="btn btn-primary left-navbar-button" role="button" aria-pressed="true">Massages</a>
        <a href="/bookmarks" class="btn btn-primary left-navbar-button" role="button" aria-pressed="true">Bookmarks</a>
    </div>
    <hr>
    <div class="left-profile-div" >
        <img src="images/profile-pic.jpeg" class="rounded-circle img-thumbnail w-25 " alt="...">
        <a href="/editProfile"> <%= user.username %> </a>
            <form action="/logout" method="post">
                <button type="submit"> logout</button>
            </form>
    </div>
</div>

<div class = "mid-body">
    <div class="top-header">
        <h1> Home </h1>
            <img src="images/profile-pic.jpeg" class="prfile-icon" alt="...">
            <input type="text" placeholder="Dear Diary">
            <form method="get" action="/compose" >
                <button type="submit" >Compose </button>
            </form>
    </div>
    <hr>
    <div>
        <% pages.forEach((page) => { %>
        <div class="card" >
            <div class="card-header">
                <img src="/images/profile-pic.jpeg" class="rounded-circle img-thumbnail card-img-icon" alt="...">

                <span><a href="/getProfile/<%=page.author_id%>"><%= page.author_name %></a></span>
            </div>
            <div class="card-body">
                <p><%= page.content%></p>
            </div>
            <div class="card-footer">
                <span id="<%= page.id%>">
                    <button class="like-button"  type="submit"><i class="far fa-heart"></i></button>
                    <span><sup><%= page.likes %></sup></span>
                    <button type="submit" ><i class="far fa-comment"></i></button>

                    <button type="submit" class="add-to-bookmark-button"><i class="far fa-bookmark"></i></button>
                </span>
            </div>
        </div>
        <%})%>
    </div>
</div>
<div class = "right-body">
    <div class="notice-icon">
        <span><i class="far fa-bell"></i></span>
    </div>

    <div>
        <form action="/myDiaries" method="get">
            <button type="submit"> My Dairies </button>
        </form>
    </div>
    <div>
        <form action="/getFriendList" method="get">
            <button type="submit"> My Friends </button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script >
    $(".like-button").each(function() {
        let id = $(this).parent().attr('id')
        $(this).on("click" ,() => {
            axios({
                method: 'post',
                url: '/likeThisPost',
                params: {
                    pageId: id,
                }
            })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
        })
    })
    $(".add-to-bookmark-button").each(function() {
        let id = $(this).parent().attr('id')
        $(this).on("click" ,() => {
            axios({
                method: 'post',
                url: '/addNewBookMark',
                params: {
                    pageId: id,
                }
            })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
        })
    })
    // var retval = []
    // $('.like-button').each(function(){
    //     retval.push($(this).attr('id'))
    // })
    // console.log(retval)
</script>
<%- include('partials/footer'); -%>