<%- include('partials/header'); -%>

<form action="/dashboard" method="get">
    <button type="submit" >back</button>
</form>

<hr>
<hr>
<hr>

<div class = "dairy-view-main">
    <h1> Dairy : <%= dairy.name %> </h1>
    <h2> <%= descriptionOfDairy %></h2>
    <hr>
    <% dairy.page_ids.forEach(function(blogId, idx){ %>
    <% if(idx%5 === 0) {%>
        <br>
        <hr>
        <% }%>
    <form style="display: inline; margin: 50px" action="/getPage/<%= blogId.page_id%>" method="get">
        <button type="submit"> <%= idx %></button>
    </form>
    <% })%>
</div>


<%- include('partials/footer'); -%>