<%- include('partials/header'); -%>


<form action="/dashboard" method="get">
    <button type="submit"  >Dashboard</button>
</form>
<hr>


<div class = "mid-body">
    <p> Granting Access to <%= friend.name %></p>
    <form action="/postGrantAccess" method="post">
        <input type="hidden" value="<%=friend.id%>" name="friend_id">
        <input type="hidden" value="<%=friend.name%>" name="friend_name">
        <input type="hidden" value="<%=diary.diary_name%>" name="diary_name">
        <select name="diary_id">
            <% user.myDiaries.forEach(diary => {%>
                <option value="<%=diary.diary_id%>" > <%=diary.diary_name%></option>
            <% }) %>
        </select>
        <input type="date" name="end_time" value="">
        <label> give permission to write </label>
        <input type="checkbox" name="is_write" >
        <button type="submit">Grant Access</button>
    </form>
</div>

<%- include('partials/footer'); -%>