<%- include('partials/header'); -%>


<form action="/dashboard" method="get">
    <button type="submit"  >Dashboard</button>
</form>
<hr>
<a href="/editPage/<%= page._id %>">Edit Page</a>
<div class = "mid-body">
        <h2> <%= descriptionOfDairy %></h2>
    <hr>
    <hr>
    <div class="card" >
        <p><%= page.createdAt %></p>
        <%- page.content %>
        <p><%= page.author_name %></p>
        <% if (page.isPrivate === false) {%>
            <div class="card-footer">
                <span>
                    <form style="display: inline" action="/likePage/<%= page.id%>" method="post">
                        <label> <%= page.likes %></label>
                        <button type="submit"><i class="far fa-heart"></i></button>
                    </form>
                    <form  style="display: inline"  action="/bookmark/<%= page.id%>" method="post">
                        <button type="submit"><i class="far fa-comment"></i></button>
                    </form>
                    <form  style="display: inline"  action="/comment/<%= page.id%>" method="post">
                        <button type="submit"><i class="far fa-bookmark"></i></button>
                    </form>
                </span>
            </div>
        <% } %>
    </div>
</div>

<%- include('partials/footer'); -%>